name: Ansible Playbooks

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string

      PLAYBOOK:
        required: true
        type: string

      ANSIBLE_COMMAND:
        required: true
        type: string

env:
  INVENTORY_DIR: ./inventories
  PLAYBOOK_DIR: ./playbooks
  ANSIBLE_LINT_CONFIG_PATH: ./ansible-lint.yaml

jobs:
  validate:
    runs-on: robot-shop-runner-azure-dev
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Create virtual environment
      run: python -m venv venv

    - name: Install dependencies
      run: |
        source venv/bin/activate
        pip install --upgrade pip
        pip install ansible-lint

    - name: Lint ansible playbooks
      run: |
        set -e
        source venv/bin/activate
        ansible-lint -c ${{ env.ANSIBLE_LINT_CONFIG_PATH }} ${{ env.PLAYBOOK_DIR }}

  dry-run-playbooks:
    needs: validate
    runs-on: robot-shop-runner-azure-dev
    if: ${{ inputs.ANSIBLE_COMMAND == 'dry_run'}}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Ansible Galaxy dependencies
      run: |
        file_path='${{ env.PLAYBOOK_DIR }}/${{ inputs.PLAYBOOK }}/requirements.yaml'

        if [[ -f "$file_path" ]]; then
          echo "Installing ansible galaxy dependencies from $file_path"
          ansible-galaxy collection install -r "$file_path" -p ./collections
          ansible-galaxy role install -r "$file_path" -p ./roles
        else
          echo "No $file_path file found, skipping."
        fi

    - name: Dry run ansible playbooks
      run: |
        echo "Dry Running playbook ${{ inputs.PLAYBOOK }}"
        ansible-playbook -i ${{ env.INVENTORY_DIR }}/${{ inputs.ENVIRONMENT }}/hosts.yaml \
        ${{ env.PLAYBOOK_DIR }}/${{ inputs.PLAYBOOK }}/${{ inputs.PLAYBOOK }}.yaml \
        --check --diff
        
  run-playbooks:
    needs: validate
    runs-on: robot-shop-runner-azure-dev
    if: ${{ github.ref_name == 'develop' && inputs.ANSIBLE_COMMAND == 'run' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Ansible Galaxy dependencies
      run: |
        file_path='${{ env.PLAYBOOK_DIR }}/${{ inputs.PLAYBOOK }}/requirements.yaml'

        if [[ -f "$file_path" ]]; then
          echo "Installing ansible galaxy dependencies from $file_path"
          ansible-galaxy collection install -r "$file_path" -p ./collections
          ansible-galaxy role install -r "$file_path" -p ./roles
        else
          echo "No $file_path file found, skipping."
        fi

    - name: Run playbooks
      run: |
        echo "Running playbook ${{ inputs.PLAYBOOK }}"
        ansible-playbook -i ${{ env.INVENTORY_DIR }}/${{ inputs.ENVIRONMENT }}/hosts.yaml \
        ${{ env.PLAYBOOK_DIR }}/${{ inputs.PLAYBOOK }}/${{ inputs.PLAYBOOK }}.yaml