name: Openresty

on:
  workflow_call:
    inputs:
      LUA_DIR:
        required: true
        type: string

      OPENRESTY_DIR:
        required: true
        type: string


jobs:
  validate:
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Validate lua configuration
        run: |
          set -e

          for file in ${{ inputs.LUA_DIR }}/*.lua; do
            luac -p "$file"
          done

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          scp -o StrictHostKeyChecking=no -r ${{ inputs.LUA_DIR }}/* \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/WebServer/openresty-tmp/lua/

      - name: Validate openresty configuration
        run: |
          set -e

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          scp -o StrictHostKeyChecking=no -r ${{ inputs.OPENRESTY_DIR }}/* \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/WebServer/openresty-tmp/nginx/

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} \
          "sudo sed -i \
          's|env LUA_DIR=/usr/local/openresty/nginx/conf/lua|env LUA_DIR=/home/WebServer/openresty-tmp/lua|' \
          /home/WebServer/openresty-tmp/nginx/nginx.conf \
          && sudo /usr/bin/openresty -t -c /home/WebServer/openresty-tmp/nginx/nginx.conf"
          
  deploy:
    if: ${{ github.ref_name == 'develop' }}
    needs: validate
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Copy lua configuration files to server
        run: |
          set -e

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} \
          sudo cp -r /home/WebServer/openresty-tmp/lua/* /usr/local/openresty/nginx/conf/lua/

      - name: Copy openresty configuration files to server
        run: |
          set -e

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} \
          sudo cp -r /home/WebServer/openresty-tmp/nginx/* /usr/local/openresty/nginx/conf/

      - name: Reload openresty configuration on server
        run: |
          set -e

          sshpass -p "${{ secrets.SERVER_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} \
          "sudo /usr/bin/openresty -t && sudo /usr/bin/openresty -s reload"